<% content_for :title do %>
  Icebreaker - Your Matches
<% end %>

<% content_for :head do %>
  <script type="text/javascript" src="js/result.js"></script>
<% end %>

<% content_for :body do %>
  <h1 style="margin: 20px 0px">Icebreaker</h1>
  <div class="container">
    <div class="row">
      
      <div class="span6">
        <div class="well">
          <h3>Search for groups</h3>
          <h4>Join one to break the ice with those around</h4>
          <input id="group-search" type="text" class="span5" placeholder="Group name" value="<%= @roomTitle %>">
          <div class="create-group">
            &nbsp;You can also <a href="javascript:void(0)" id="create-group-btn" ></a>
          </div>
          <div id="room-search"></div>
          <p id="recommend">Recommended: <a href="#">uwaterloo</a>, <a href="#">waterloo</a>, <a href="#">starcraft</a></p>
        </div>
      </div>
      
      <div class="span6">
        <div id="matches" class="well">
          <h3 id="users-title" ><%= @roomTitle? @roomTitle : 'Choose a Group' %></h3>
          <% if @roomTitle %>
            <% if @exists %>
              <h4>Hover for icebreaker, click for facebook</h4>
            <% else %>
              <h4>Not found, so we searched it for you</h4>
            <% end %>
          <%else%>
            <h4>To break the ice with its members</h4>
          <%end%>
          <div id="search-view"> </div>
        </div>
      </div>

    </div>
  </div>
  
<% end %>