<% content_for :title do %>
  Icebreaker - Your Matches
<% end %>

<% content_for :head do %>
  <script type="text/javascript" src="js/result.js"></script>
<% end %>

<% content_for :body do %>
  <h1 style="margin: 20px 0px">Icebreaker</h1>
  <div class="container">
    <div class="row">

      <div class="span6">
        <div class="well">
          <h3>Search for groups</h3>
          <input id="group-search" type="text" class="span5" placeholder="Group name">
          <h4>Trouble searching? Here are some popular groups to get started</h4>
          <div class="create-group">
            &nbsp;You can also <a href="javascript:void(0)" id="create-group-btn" ></a>
          </div>
          <div id="room-search">

          </div>
        </div>
      </div>

      <div class="span6">
        <div id="matches" class="well">
          <h3 id="users-title" ><%= @roomTitle? @roomTitle : 'Choose a Room' %></h3>
          <h4>Hover for icebreaker, click for facebook</h4>
          <div id="search-view"> </div>
        </div>
      </div>

    </div>
  </div>

<% end %>