<% content_for :body do %>

  <div class="container-narrow">

    <div class="jumbotron">
      <h1>Icebreaker</h1>
      <p class="lead">Meet people online that you'll actually like.</p>
      <a class="btn btn-large btn-success" href="#">Login with Facebook</a>
      </br>
      <a class="btn" href="javascript:void(0)">Learn More</a>
    </div>


    <div class="span4">...</div>
    <div class="span8">...</div>
  </div>
<% end %>