<% content_for :body do %>
  <div id="fb-root"></div>
  <script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV['FB_APP_ID'] %>', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // connected
        console.log('connected');
      } else if (response.status === 'not_authorized') {
        // not_authorized
        console.log('not authorized');
      } else {
        // not_logged_in
        console.log('not logged in');
      }
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

  function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
        } else {
            // cancelled
        }
    });
  }
</script>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <div class="container-narrow">

    <div class="jumbotron">
      <h1>Icebreaker</h1>
      <p class="lead">Meet people online that you'll actually like.</p>
      <button id="login-button" class="btn btn-large btn-success">Login with Facebook</button>
      </br>
      <a class="btn" href="javascript:void(0)">Learn More</a>
    </div>


    <div class="span4">...</div>
    <div class="span8">...</div>
  </div>
<% end %>