<% content_for :body do %>

  <div class="container">

    <div class="jumbotron">
      <h1>Icebreaker</h1>
      <p class="lead">Meet people that you'll actually like.</p>
      <a class="btn btn-large btn-primary" href="javascript:void(0)">Login with Facebook</a>
      </br>
    </div>

  </div>
<% end %>