<% content_for :title do %>
  Icebreaker - Your Matches
<% end %>

<% content_for :head do %>
  <script type="text/javascript" src="js/result.js"></script>
<% end %>

<% content_for :body do %>
  <h1>Icebreaker</h1>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="well">
          <h3>Search for groups</h3>
          <input id="group-search" type="text" class="span5" placeholder="Group name">
          <div class="create-group">
            &nbsp;We can't find that group. Why not <a href="javascript:void(0)" id="create-group-btn" >create it</a>?
          </div>
          <p>Recommended: <a href="#">universityofwaterloo</a>, <a href="#">waterloo</a>, <a href="#">starcraft</a></p>
        </div>
      </div>
      <div class="span6">
        <div id="matches" class="well">
          <h3>Your matches</h3>
          <h4>Click on a user to find out more details.</h4>

          <!-- code for a single person -->
          <div id="search-view">

            <% @matches.each do |p|%>
              <div class="person">
                <h4>
                  <%= puts p['name'] %>
                </h4>
                <p>
                </p>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>