<% if @rooms && !@rooms.empty? %>
	<% @rooms.each do |p|%>
	  <div id="<%= p.id %>" class="room" groupname=<%= p.name %>>
	    <h4 class="room-title">
	      <%= p.name %>
	    </h4>
	    <div class="room-count">
	      <%= p.people %> People
	    </div>
	  </div>
	<% end %>

<script type="text/javascript"> 
	$('.room').click(function(e) {
		
		var roomname = $(e.target).parent().attr('groupname');

		window.history.pushState(null, roomname, "/" + roomname);

		$('#users-title').html(roomname);

		$.ajax({
	      type: 'GET',
	      url: '/room',
	      data: {
	        roomname: roomname
	      },
	      success: function(data) {
	        $('#search-view').html(data);
	      }
	    });

		$.ajax({
	      type: 'GET',
	      url: '/search',
	      data: {
	        query: $('#group-search').val();
	      },
	      success: function(data) {
	        $('#room-search').html(data);
	      }
	    });

	})
	
</script>

<% else %>
	No rooms found, why not create one?
<% end %>
