<% if @rooms && !@rooms.empty? %>
	<% @rooms.each do |p|%>
	  <div id="<%= p.id %>" class="room" groupname=<%= p.name %>>
	    <h4 class="room-title">
	      <%= p.name %>
	    </h4>
	    <div class="room-count">
	      <%= p.people.to_s + (p.people==1 ? ' Person' : ' People') %>
	    </div>
	  </div>
	<% end %>

<script type="text/javascript">
	$('.room').click(function(e) {
		var roomname = $(e.target).parent().attr('groupname');

		window.history.pushState(null, roomname, "/" + roomname);

		$('#users-title').html(roomname).next().html('Hover for icebreaker, click for facebook');

		$('#search-view-loader').show();
		$('#search-view').load('/room/' + roomname, function(data) {
		  $(this).hide().fadeIn(500);
		  $('#search-view-loader').hide();
		});

		$.ajax({
	      type: 'GET',
	      url: '/search',
	      data: {
	        query: $('#group-search').val()
	      },
	      success: function(data) {
	        $('#room-search').html(data);
	      }
	    });

	})

</script>

<% else %>
	<!-- No rooms found, why not create one? -->
<% end %>
