<% @matches.each do |p|%>
  <div class="person" style=" background-image: url(<%= p[:picture] %>)" fblink="<%= p[:url] %>">
    <h4 class="name">
      <%= p[:name] %>
    </h4>
    <div class="person-info">
      <%= p[:intro] %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.person').click(function() {
    var $self = $(this);
    window.location = $self.attr('fblink');
  })
</script>