h1 {
  color: #30605E;
}

.profile_me {
  position: absolute;
  top: 0;
  right: 30px;
  min-width: 400px;
}

.profile_me h3 span {
  margin-right: 22px;
}

.profile_me .pic {
  width: 140px;
  height: 140px;
  border: 5px solid #fff;
  vertical-align: middle;
  background-color: blue;
  box-shadow: 0 0 0px 1px #AAA;
}

#search-view-loader {
  display: none;
  margin: 0 auto;
  background: url('../img/loading.gif');
  width: 128px;
  height: 128px;
}

h3 {
  color: #30605E;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

#recommend{
  margin-top: 30px;
}

.create-group {
  margin-top: -10px;
  display: none;
}

#create-group-btn {
  font-weight: bold;
}

.room {
  cursor: pointer;
  margin-left: 8px;
  padding: 8px 4px;
  -webkit-transition: background-color 350ms, color 350ms;
}

.room:hover {
  background-color: #2E8BCC;
  color: #fff;
}

.room h4 {
  margin: 0;
  padding: 0;
}

.person {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 5px;
  background-size: cover;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background-color: white;
  margin-right: 15px;
}

.person-info {
  position: absolute;
  background: rgba(22, 22, 22, 0.5);
  color: #fff;
  z-index: 100;
  width: 132px;
  height: 99px;
  padding: 14px 14px;
  opacity: 0;
  line-height: 15px;
  text-align: center;
  -webkit-transition: opacity 250ms;
}

.person-info:hover {
  opacity: 1;
  cursor: pointer;
}

.person h4 {
  background-color: rgba(22, 22, 22, 0.5);
  vertical-align: middle;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  width: 160px;
  margin-top: 127px;
}

.person h4 a {
  background-color: transparent;
  font-size: 14px;
  float: right;
  margin-right: 2%;
}