body {
  /*background:url('../img/lightpaperfibers.png');*/
}

h1 {
  text-shadow: 0px 0px 5px white;
  color: #9F5050 !important;
}

h3 {
  margin-bottom: -20px !important;
  color: #9F5050 !important;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

#recommend{
  margin-top: 30px;
}

.create-group {
  margin-top: -10px;
  display: none;
}

#create-group-btn {
  font-weight: bold;
}

.room {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
}

.room h4 {
  margin: 0;
  padding: 0;
}

.person {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 5px;
  background-size: cover;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background-color: white;
  margin-right: 15px;
}

.person-info {
  position: absolute;
  background: rgba(22, 22, 22, 0.5);
  color: #fff;
  z-index: 100;
  width: 144px;
  height: 99px;
  padding: 14px 8px;
  opacity: 0;
  line-height: 15px;
  text-align: center;
  -webkit-transition: opacity 250ms;
}

.person-info:hover {
  opacity: 1;
  cursor: pointer;
}

.person h4 {
  background-color: rgba(22, 22, 22, 0.5);
  vertical-align: middle;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  width: 160px;
  margin-top: 127px;
}

.person h4 a {
  background-color: transparent;
  font-size: 14px;
  float: right;
  margin-right: 2%;
}